[submodule "atp"]
	path = atp
	url = git@github.com:7Robot-Soft/atp.git
[submodule "ia"]
	path = ia
	url = git@github.com:7Robot-Soft/ia.git
[submodule "tcphub"]
	path = tcphub
	url = git@github.com:7Robot-Soft/tcphub.git
[submodule "logviewer"]
	path = logviewer
	url = git@github.com:7Robot-Soft/logviewer.git
[submodule "simu"]
	path = simu
	url = git@github.com:7Robot-Soft/simu.git
[submodule "logrender"]
	path = logrender
	url = git@github.com:7Robot-Soft/logrender.git
[submodule "usbdaemon"]
	path = usbdaemon
    url = git@github.com:7Robot-Soft/usbdaemon.git
[submodule "arduino"]
	path = arduino
    url = git@github.com:7Robot-Soft/arduino.git
[submodule "pic"]
	path = pic
    url = git@github.com:7Robot-Soft/pic.git
